<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Carrinho</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='css/style.css'>
    <link rel='stylesheet' type='text/css' href='css/style_carrinho.css'>
</head>
<body>
    <%- navBar %>
    <section class="principal">
        <div class="cabecalho">
            <a href="_Produtos"><img style="border-radius: 5px; width: 35px; height: 35px;" src="Img/house-solid.svg"></a>
            <h2>Produtos no carrinho:</h2>
        </div>
        <div class="underline"></div>
        <div class="cards"><!----------------FILEIRA DE CARTÕES-->
            <% let preco = 0; %>
            <% let qtd = 0; %>
            <% let i = 0; %>
            <% if(produtos != ""){ %>
                <%produtos.forEach(function(produtoA){ const produto = produtoA[0] %>
                    <% if(!produto.qtd_estoque == 0){ %>
                    <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                        <div class="icon"><!--ESPAÇO DA CAPA-->
                            <img src="<%- produto.img %>"alt="Contact us.">
                        </div>
                            <span class="span1"><%= produto.nome %></span>
                            <span class="span2">Quantidade: <%= results[i].quantidade; %></span>
                            <span class="span3">Preço unidade: <%= produto.preco_unit %></span>
                            <form action="/_remove" method="POST">
                                <input type="hidden" value="<%- results[i].id_itens_produto %>" name="id_itens">
                                <button class="remove">Remover do carrinho</button>
                            </form>
                    </section>
                    <% let valorVarchar = produto.preco_unit; %>
                    <% let precoFloat = parseFloat(valorVarchar); %>
                    <% preco += precoFloat * results[i].quantidade;%>
                    <% i++ %>
                    <% } %>
                <% }); %>
            <% } %>
        </div>
        <br>
        <div class="underline"></div>
        <% preco = parseFloat(preco.toFixed(2));%>
        <% if(produtos != ""){%>
            <span>Total: R$<%= preco %></span>
        <% }else{ %>
            <apan>Total: R$00,00</apan>
        <% } %>
        <% if(user && produtos != ""){ %>
            <form action="/_confirmarCompra" method="POST">
                <input type="hidden" name="total" value="<%- preco %>">
                <input type="hidden" name="i" value="<%- i%>">
                <% for(let index = 0; index<i; index++){ %>
                    <input type="hidden" name="qtd<%- index %>" value="<%- results[index].quantidade %>">
                    <input type="hidden" name="id<%- index %>" value="<%- results[index].id_itens_produto %>">
                    <input type="hidden" name="id_produto<%- index %>" value="<%- results[index].id_produto %>">
                <% } %>
                <button class="btn">Confirmar</button>
            </form>
        <% }else{ %>
            <button class="btn">Confirmar</button>
        <% } %>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>