<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_slide.css" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" href="/css/style_desc.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' />
</head>

<body>
    <%- navBar %>
    <div class="modal">
        <div class="modal-content">
            <h1 style="color: black; font-size: 35px;"><b>Realmente deseja comprar esse produto?</b></h1>
            <form action="/_addCarrinho" method="POST">
                <input type="hidden" name="vendedor" value="<%- vendedor[0].id_vendedor %>">
                <input type="hidden" name="valor" value="<%- produtos[0].preco_unit %>">
                <input type="hidden" name="produto" value="<%- produtos[0].id_produto %>">
                <h6><b>Quantidade</b></h6>
                <% if(!compredo){ %>
                    <select class="select" name="qtd">
                        <% let max = produtos[0].qtd_estoque - resulta%>
                        <% if(produtos[0].qtd_estoque <= 100){ %>
                            <% for(let i=1; i<=max; i++){ %>
                                <option value="<%- i %>">
                                    <%= i %>
                                </option>
                                <%}%>
                                    <% }else{ %>
                                        <% for(let i=1; i<=max; i++){ %>
                                            <option value="<%- i %>">
                                                <%= i %>
                                            </option>
                                        <%}%>
                                    <% } %>
                    </select>
                    <button id="comprar" type="submit">Adicionar</button>
                <% }else{ %>
                    <h6>Você ja adicionou este produto ao carrinho!!</h6>
                <% } %>
            </form>
            <button class="close-btn">Cancelar</button>
        </div>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <h1 style="color: limegreen; font-size: 20px;">Produto comprado com sucesso!!</h1>
            <button id="close">fechar</button>
        </div>
    </div>
    <!-- <a id="voltar" href="/_Produtos">
        <div >
            <span> < </span>
        </div>
    </a> -->
    <article class="container">
        <% if(!produtos[0].qtd_estoque<=0){ %>
            <!-------------- [INICO] FOTO DE DEMONSTRAÇÃO DO PRODUTO--------------->
            <section>
                <h1>.</h1>
                <!--<img src="/#" alt="...">-->
            </section>
            <!---------- [FIM] FOTO DE DEMONSTRAÇÃO DO PRODUTO------------->

            <!-- [INICO] SESSÃO DE **INFORMAÇÕES** DO PRODUTO-->
            <section class="info" id="box">

                <h3>
                    <%= produtos[0].nome %>
                </h3>
                <div class="demonstracao">
                    <img class="produto" src="/<%= produtos[0].img %>">
                </div>
                <h3 class="valor">R$<%= produtos[0].preco_unit %></h3>
                <!-- <div class="star">
                    <ul class="avaliacao" id="info">
                        <li class="star-icon ativo" data-avaliacao="1"></li>
                        <li class="star-icon" data-avaliacao="2"></li>
                        <li class="star-icon" data-avaliacao="3"></li>
                        <li class="star-icon" data-avaliacao="4"></li>
                        <li class="star-icon" data-avaliacao="5"></li>
                    </ul>
                </div>
                <p>0 Avaliações</p> -->
                <p>Estoque: <%= produtos[0].qtd_estoque %>
                </p>
                <% if(vendidos !=null){ %>
                    <p>
                        <%= vendidos %> Vendidos
                    </p>
                    <% }else{ %>
                        <p>0 Vendidos</p>
                        <% } %>
                            <div class="btn">
                                <button id="open-modal-btn">Adicionar ao carrinho</button>
                                <br>
                                <br>
                                <% if(user){ %>
                                    <% if(vendedor[0].id_usuario==user[0].id_usuario){ %>
                                        <a class="aa" href="/_editProd/<%- produtos[0].id_produto %>">Editar Produto</a>
                                        <a class="aa" href="/_removeProd/<%- produtos[0].id_produto %>">Remover
                                            Produto</a>
                                        <% } %>
                                            <% } %>
                            </div>
                            
                                    <!--
            <button id="like">
                <div class="label">
                  <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="black"/>
                  </svg>
                </div>
                <div class="number" id="number">50</div>
              </button>
              <div class="compartilha">
                <div class="whats"><a href="https://api.whatsapp.com" target="_blank">whats</a></div>
                <div class="face"><a href="https://www.facebook.com" target="_blank">face</a></div>
                <div class="insta"><a href="https://www.instagram.com" target="_blank">Insta</a></div>
                <div class="pint"><a href="https://br.pinterest.com" target="_blank">Pin</a></div>
              </div>
            -->
            </section>
            <!-- [FIM] SESSÃO DE INFORMAÇÕES DO PRODUTO-->

                <!-- [INICO] SESSÃO DE LOGISTA-->
                <section class="loja" id="box">
                    <div class="idem">
                        <a href="/_PerfilLoja/<%- vendedor[0].id_vendedor %>">
                            <img class="mini-ft-perfil"
                                src="/<%- vendedor[0].img %>"><!--COLOCAR FOTO DE PERFIL DA LOJA-->
                            <h5>
                                <%= vendedor[0].nome_loja %>
                            </h5>
                            <h6>
                                <%= vendedor[0].slogan %>
                            </h6>
                        </a>
                    </div>
                    <!--<div class="reputacao">
                <p>Seguidores</p>
                <p>Seguindo</p>
                <ul class="avaliacao" id="loja">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
            </div>
            <div class="btn">
                <button class="seguir">Seguir</button>
                <button class="cv">Conversar agora</button>
            </div>-->
                </section>
                <!-- [FIM] SESSÃO DE LOGISTA-->

                <!-- [INICO] SESSÃO DE DETALHES DO PRODUTO-->
                <!-- <section class="detalhe" id="box">
            <h4>Detalhes do Produto</h4>
            <div class="box">
                    <table> 
                        <tr>    
                            <th>Fabricante</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Marca</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Nome</th>  
                            <td>Sequilhos Leite</td>     
                        </tr>
                        <tr>     
                            <th>Sabor</th>  
                            <td>Leite</td>     
                        </tr>
                        <tr>     
                            <th>Peso líquido</th>  
                            <td>1kg</td>     
                        </tr>
                        <tr>     
                            <th>Formato de venda</th>  
                            <td>Kit</td>     
                        </tr>
                        <tr>     
                            <th>Unidades por kit</th>  
                            <td>10</td>     
                        </tr>
                        <tr>     
                            <th>Peso da unidade</th>  
                            <td>100g</td>     
                        </tr>     
                        </tr>
                    </table>
            </div>
        </section> -->
                <!-- [FIM] SESSÃO DE DETALHES DO PRODUTO-->

                <!-- [INICO] SESSÃO DE DESCRIÇÃO DO PRODUTO-->
                <section class="detalhe" id="box">
                    <h4>Descrição do Produto</h4>
                    <div class="box">
                        <p>
                            <%= produtos[0].descricao %>
                        </p>
                        <!-- <div class="ingrd">
                    <dl>
                        <dt>INGREDIENTES:</dt>
                            <dd>Amido de milho</dd>
                            <dd>Açúcar</dd>
                            <dd>Amido de mandioca</dd>
                            <dd>Gordura vegetal de palma</dd>
                            <dd>Ovo</dd>
                            <dd>Sal</dd>
                            <dd>Aromatizante</dd>
                    </dl>
                </div> -->
                    </div>
                </section>
                <!-- 
         [FIM] SESSÃO DE DETALHES DO PRODUTO-----------------------------------COMENTARIO

         [INICO] SESSÃO DE AVALIAÇÃO DO PRODUTO-----------------------------------COMENTARIO
        <section class="avlic" id="box">
            <h4>Avaliações do Produto</h4>

            [INICO] 5 ESTRELAS⭐⭐⭐⭐⭐ -----------------------------------COMENTARIO
            <section class="clasfc">
                <h6>5.0</h6>
                <ul class="avaliacao" id="produto">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
                <p>4 opiniões</p>
                <script type="text/javascript" src="z.js"></script>
            </section>
             [fim] 5 ESTRELAS⭐⭐⭐⭐⭐-----------------------------------COMENTARIO
    
             [INICO] CAIXA DE COMENTÁRIOS-----------------------------------COMENTARIO
            <div class="box">
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Img/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Img/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Img/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
                <div class="comentario">
                    <div class="user">
                        <img class="mini-ft-perfil-user" src="Img/texturaDeCamurca.jpg">
                        <a>Nome de Usuário</a>
                        <ul class="avaliacao" id="produto">
                            <li class="star-icon ativo" data-avaliacao="1"></li>
                            <li class="star-icon" data-avaliacao="2"></li>
                            <li class="star-icon" data-avaliacao="3"></li>
                            <li class="star-icon" data-avaliacao="4"></li>
                            <li class="star-icon" data-avaliacao="5"></li>
                        </ul>
                    </div>
                    <div class="txt">
                        <h6>Boa qualidade e prático</h6>
                        <p>Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.Os produtos são da mesma qualidade do pacote maior. Eles vieram separados por sabores. Adorei a compra.</p>
                    </div>
                </div>
            </div>
             [fim] CAIXA DE COMENTÁRIOS-----------------------------------COMENTARIO
        </section>
    
         [fim] SESSÃO DE AVALIAÇÃO DO PRODUTO-----------------------------------COMENTARIO-->
    </article>
    <% }else{ %>
            <!-------------- [INICO] FOTO DE DEMONSTRAÇÃO DO PRODUTO--------------->
            <section>
                <h1>.</h1>
                <!--<img src="/#" alt="...">-->
            </section>
            <!---------- [FIM] FOTO DE DEMONSTRAÇÃO DO PRODUTO------------->

            <!-- [INICO] SESSÃO DE **INFORMAÇÕES** DO PRODUTO-->
            <section class="info" id="box">

                <h3>
                    <%= produtos[0].nome %>
                </h3>
                <div class="demonstracao">
                    <img class="produto" src="/<%= produtos[0].img %>">
                </div>
                <h3 class="valor"><b>R$<%= produtos[0].preco_unit %></b></h3>
                <!-- <div class="star">
                    <ul class="avaliacao" id="info">
                        <li class="star-icon ativo" data-avaliacao="1"></li>
                        <li class="star-icon" data-avaliacao="2"></li>
                        <li class="star-icon" data-avaliacao="3"></li>
                        <li class="star-icon" data-avaliacao="4"></li>
                        <li class="star-icon" data-avaliacao="5"></li>
                    </ul>
                </div>
                <p>0 Avaliações</p> -->
                <p>Estoque: 0
                </p>
                <% if(vendidos !=null){ %>
                    <p>
                        <%= vendidos %> Vendidos
                    </p>
                    <% }else{ %>
                        <p>0 Vendidos</p>
                        <% } %>
                            <div class="btn">
                                <p style="color: red;">Produto esgotado!!</p>
                                <br>
                                <br>
                                <% if(user){ %>
                                    <% if(vendedor[0].id_usuario==user[0].id_usuario){ %>
                                        <a class="aa" href="/_editProd/<%- produtos[0].id_produto %>">Editar Produto</a>
                                        <a class="aa" href="/_removeProd/<%- produtos[0].id_produto %>">Remover
                                            Produto</a>
                                        <% } %>
                                            <% } %>
                            </div>
                            
                                    <!--
            <button id="like">
                <div class="label">
                  <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.4 5.25C5.61914 5.25 3.25 7.3293 3.25 10.0298C3.25 11.8927 4.12235 13.4612 5.27849 14.7604C6.43066 16.0552 7.91714 17.142 9.26097 18.0516L11.5796 19.6211C11.8335 19.793 12.1665 19.793 12.4204 19.6211L14.739 18.0516C16.0829 17.142 17.5693 16.0552 18.7215 14.7604C19.8777 13.4612 20.75 11.8927 20.75 10.0298C20.75 7.3293 18.3809 5.25 15.6 5.25C14.1665 5.25 12.9052 5.92214 12 6.79183C11.0948 5.92214 9.83347 5.25 8.4 5.25Z" fill="black"/>
                  </svg>
                </div>
                <div class="number" id="number">50</div>
              </button>
              <div class="compartilha">
                <div class="whats"><a href="https://api.whatsapp.com" target="_blank">whats</a></div>
                <div class="face"><a href="https://www.facebook.com" target="_blank">face</a></div>
                <div class="insta"><a href="https://www.instagram.com" target="_blank">Insta</a></div>
                <div class="pint"><a href="https://br.pinterest.com" target="_blank">Pin</a></div>
              </div>
            -->
            </section>
            <!-- [FIM] SESSÃO DE INFORMAÇÕES DO PRODUTO-->

                <!-- [INICO] SESSÃO DE LOGISTA-->
                <section class="loja" id="box">
                    <div class="idem">
                        <a href="/_PerfilLoja/<%- vendedor[0].id_vendedor %>">
                            <img class="mini-ft-perfil"
                                src="/<%- vendedor[0].img %>"><!--COLOCAR FOTO DE PERFIL DA LOJA-->
                            <h5>
                                <%= vendedor[0].nome_loja %>
                            </h5>
                            <h6>
                                <%= vendedor[0].slogan %>
                            </h6>
                        </a>
                    </div>
                    <!--<div class="reputacao">
                <p>Seguidores</p>
                <p>Seguindo</p>
                <ul class="avaliacao" id="loja">
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
            </div>
            <div class="btn">
                <button class="seguir">Seguir</button>
                <button class="cv">Conversar agora</button>
            </div>-->
                </section>
                <!-- [FIM] SESSÃO DE LOGISTA-->

                <!-- [INICO] SESSÃO DE DETALHES DO PRODUTO-->
                <!-- <section class="detalhe" id="box">
            <h4>Detalhes do Produto</h4>
            <div class="box">
                    <table> 
                        <tr>    
                            <th>Fabricante</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Marca</th>  
                            <td>Nazinha</td>     
                        </tr>
                        <tr>     
                            <th>Nome</th>  
                            <td>Sequilhos Leite</td>     
                        </tr>
                        <tr>     
                            <th>Sabor</th>  
                            <td>Leite</td>     
                        </tr>
                        <tr>     
                            <th>Peso líquido</th>  
                            <td>1kg</td>     
                        </tr>
                        <tr>     
                            <th>Formato de venda</th>  
                            <td>Kit</td>     
                        </tr>
                        <tr>     
                            <th>Unidades por kit</th>  
                            <td>10</td>     
                        </tr>
                        <tr>     
                            <th>Peso da unidade</th>  
                            <td>100g</td>     
                        </tr>     
                        </tr>
                    </table>
            </div>
        </section> -->
                <!-- [FIM] SESSÃO DE DETALHES DO PRODUTO-->

                <!-- [INICO] SESSÃO DE DESCRIÇÃO DO PRODUTO-->
                <section class="detalhe" id="box">
                    <h4>Descrição do Produto</h4>
                    <div class="box">
                        <p>
                            <%= produtos[0].descricao %>
                        </p>
                        <!-- <div class="ingrd">
                    <dl>
                        <dt>INGREDIENTES:</dt>
                            <dd>Amido de milho</dd>
                            <dd>Açúcar</dd>
                            <dd>Amido de mandioca</dd>
                            <dd>Gordura vegetal de palma</dd>
                            <dd>Ovo</dd>
                            <dd>Sal</dd>
                            <dd>Aromatizante</dd>
                    </dl>
                </div> -->
                    </div>
                </section>
    <% } %>

            <!--<footer>
    </footer>-->
            <script src="/assets/js/bundle.js"></script>
            <script>
                const openModalBtn = document.querySelector('#open-modal-btn');
                const closeModalBtn = document.querySelector('.close-btn');
                const modal = document.querySelector('.modal');

                openModalBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    modal.style.display = 'block';
                });

                closeModalBtn.addEventListener('click', (e) => {
                    e.preventDefault();
                    modal.style.display = 'none';
                });
            </script>
</body>

</html>