<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_perfilLoja.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body> 
    <%- navBar %>
    <main>
        <div class="modal">
            <div class="modal-content">
              <form method="post" action="/_fotoCapa" enctype="multipart/form-data">
                <input type="hidden" value="<%- vendedor[0].id_vendedor %>" name="id">
                <input type="file" name="back_img">
                <input type="submit" value="enviar">
                <h1 style="color: black;">Foto de capa:</h1>          
              </form>
              <button class="close-btn">Cancelar</button>
            </div>
        </div>

        <div class="modal2">
            <div class="modal-content">
              <form method="post" action="/_fotoPerfil" enctype="multipart/form-data">
                <h1 style="color: black;">Foto de perfil</h1>
                <input type="hidden" value="<%- vendedor[0].id_vendedor %>" name="id">
                <input type="file" name="img">
                <input type="submit" value="enviar">
              </form>
              <button class="close-btn" id="fechar">Cancelar</button>
            </div>
        </div>
    <!--Menu-->
    <header>
        <div class="loja">
            <div class="loja-capa">
                <% if(user){ %>
                    <% if(resultado != ""){ %>
                        <% if(vendedor[0].id_vendedor == resultado[0].id_vendedor){ %>
                            <div class="change-back-img" id="open-modal-btn" onclick="openModal()">Alterar foto</div>
                        <% } %>
                    <% } %>
                <% } %>
                <img class="capa" src="/<%- vendedor[0].back_img %>" alt="imagem"> <!--FOTO DE CAPA-->
            </div>

            <div class="idem">
                <% if(user){ %>
                    <% if(resultado != ""){ %>
                        <% if(vendedor[0].id_vendedor == resultado[0].id_vendedor){ %>
                            <div class="ft-perfil" id="open-modal-btn" onclick="openModal()"></div>
                        <% } %>
                    <% } %>
                <% } %>
                <img class="ft-perfil" src="/<%- vendedor[0].img %>">  <!--//COLOCAR FOTO DE PERFIL DA LOJA-->
            
                <div class="foto">
                    <% if(user){ %>
                        <% if(resultado != ""){ %>
                            <% if(vendedor[0].id_vendedor == resultado[0].id_vendedor){ %>
                    <div class="change-img" style="font-size: 40;" id="abrirModal">Alterar Foto</div>
                    <% } %>
                    <% } %>
                <% } %>
                </div>

                <h5><%= vendedor[0].nome_loja%></h5>
                <h6><%= vendedor[0].slogan %></h6>
            </div>
            <% if(user){ %>
                <% if(resultado != ""){ %>
                    <% if(vendedor[0].id_vendedor == resultado[0].id_vendedor){ %>
                        <div class="btn">
                            <button><a href="/_CadastroProdutos">Novo produto</a></button>
                            <button><a href="/_editar/<%- vendedor[0].id_vendedor %>">Editar</a></button>
                        </div>
                    <% } %>
                <% } %>
            <% } %>
            <!-- <div class="reputacao">
                
                <ul class="avaliacao" id="loja">
                    <li class="number">5.0</li>
                    <li class="star-icon ativo" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
                <script type="text/javascript" src="/javaScript/stars.js"></script>
                <div class="txt-info">
                    <p>Seguidores</p>
                    <p>Seguindo</p>
                </div>
            </div> -->
        </div>
    </header>
    
    <!-- <a id="voltar" href="/_Produtos">
        <div >
            <span class="back"> < </span>
        </div>
    </a> -->
        <article class="container">             
            <section class="bio">
                <div class="box">
                    <h6>Sobre a Loja</h6>
                    <p><%= vendedor[0].sobre %></p>
                </div>
            </section>
            <section class="produtos">
                <h6>Produtos</h6>
                <div class="cards"><!----------------FILEIRA DE CARTÕES-->
                    <% produtos.forEach(function(produto){ %>
                        <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                            <div class="icon"><!--ESPAÇO DA CAPA-->
                                <% if(produto.qtd_estoque <= 0){ %>
                                    <div class="esgotado">Esgotado</div>
                                <% } %>
                                <img src="/<%= produto.img %>"alt="Contact us.">
                            </div>
                                <span class="span1"><%= produto.nome %></span>
                                <span class="span2">Preço: <%= produto.preco_unit %></span>
                            <a href="/_descricaoProduto/<%= produto.id_produto %>">Veja Mais</a> 
                        </section>
                    <% }); %>
                </div>
            </section> 
        </article>
    </main>
    <footer>
        
    </footer>
    <script src="/assets/js/bundle.js"></script>
    <script>
        const openModalBtn = document.querySelector('#open-modal-btn');
        const closeModalBtn = document.querySelector('.close-btn');
        const modal = document.querySelector('.modal');

        openModalBtn.addEventListener('click', (e) => {
            e.preventDefault();
            modal.style.display = 'block';
        });

        closeModalBtn.addEventListener('click', (e) => {
            e.preventDefault();
            modal.style.display = 'none';
        });

        const openModalBtn2 = document.querySelector('#abrirModal');
        const closeModalBtn2 = document.querySelector('#fechar');
        const modal2 = document.querySelector('.modal2');

        openModalBtn2.addEventListener('click', (e) => {
            e.preventDefault();
            modal2.style.display = 'block';
        });

        closeModalBtn2.addEventListener('click', (e) => {
            e.preventDefault();
            modal2.style.display = 'none';
        });
    </script>
</body>
</html>