<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style_produtos.css">
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic'/>
    <title>Free From ⋆ Um Sabor Seguro</title>
</head>
<body class="body">
    <!--Menu-->
    <header class="barra">
            <nav class="bar-menu">
                <ul>   
                    <li><a class="menu" href="/">Início</a></li>
                    <li><a class="aq" href="#">Produtos</a></li>
                    <li><a class="menu" href="_carrinho">Carrinho</a></li>
                    <li>
                        <a class="menu" href="#">Mais▾</a></div>
                        <ul>
                            <% if(!vendedor){ %>
                                <li class="subMenu"><a href="/_cadastroLoja">Vender</a></li>
                            <% } %>
                            <!--<li class="subMenu"><a href="#">Frete</a></li>-->
                            <li class="subMenu"><a href="_Sobre">Sobre Nós</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="menu" href="#">
                            <label id="icone" for="conta">
                                <div class="user">
                                    <% if(usuario){ %>
                                        <span><%= user[0].usuario %></span>
                                    <% }else{ %>
                                        <span>Log In </span>
                                    <% } %>
                                </div>
                                <img src="Img/profile-user.png" width="30" height="30">
                            </label>
                        </a>
                        <ul id="conta">
                            <% if(usuario){ %>
                                <% if(vendedor){ %>
                                    <li class="subMenu"><a href="_PerfilLoja/<%- idLoja %>">Minha Loja</a></li>
                                <% } %>
                                <li class="subMenu"><a href="_logOut">Sair</a></li>
                            <% }else{ %>
                                <li class="subMenu"><a href="_Cadastro">Cadastrar</a></li>
                                <li class="subMenu"><a href="_Login">Entrar</a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="busca">
                <form class="formBusca" method="POST">
                    <div>
                        <input type="text" name="pesquisa" placeholder="Pesquise o que você deseja">
                        <button class="buscar" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
    </header>
    <main>   
        
        <% if(resultado){ %>
            <div class="cards"><!----------------FILEIRA DE CARTÕES-->
                <% produtos.forEach(function(produto){ %>
                        <section class="card contact"><!--CARTÃO INDIVIDUAL-->
                            <div class="icon"><!--ESPAÇO DA CAPA-->
                                <% if(produto.qtd_estoque <= 0){ %>
                                    <div class="esgotado">Esgotado</div>
                                <% } %>
                                <img src="<%= produto.img %>"alt="Contact us.">
                            </div>
                                <span class="span1"><%= produto.nome %></span>
                                <span class="span2">Preço: <%= produto.preco_unit %></span>
                            <a href="_descricaoProduto/<%= produto.id_produto %>">Veja Mais</a> 
                        </section>
                <% }); %>
            </div>  
        <% }else{ %>
            <div class="cards">
                <h1 style="color: black; position: relative; left: 40%;">Nenhum produto encontrado!</h1>
            </div>
        <% } %>
    </main>
    <footer></footer>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>
